
<%#= link_to 'Back', bookings_path %>
<div class="container">
  <div class="page-header">
    <h2>Create Booking</h2>
  </div><!-- end page-header -->
</div>

<%= render 'form', booking: @booking %>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1> <%= link_to 'Go Back', service_providers_path, :class => 'btn btn-large btn-info' %></h1>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->
