<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Booked date:</strong>
  <%= @booking.booked_date %>
</p>

<p>
  <strong>Event:</strong>
  <%= @booking.event %>
</p>

<p>
  <strong>Service provider:</strong>
  <%= @booking.service_provider %>
</p>

<%#= link_to 'Edit', edit_booking_path(@booking) %>
<%#= link_to 'Back', bookings_path %>
-->
