
<div class="container" id="footer_container" >
<nav class="navbar navbar-default navbar-static-bottom" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="navbar-text pull-left">
            <p>Copyright &copy; 2016 Namlo Event Management. All Rights Reserved.</p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="navbar-text pull-middle">
        <ul class="unstyled">
          <li><%= link_to "Home", home_index_path %></li>
          <li><%= link_to "About Us", about_index_path %></li>
          <li><%= link_to "Contact Us", new_contact_path %></li>
          <li><%#= link_to "Privacy", privacy_index_path %></li>
        </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="navbar-text pull-left">
        <ul class="unstyled">
          <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> </a>
        </ul><!-- end of navbar-social -->
        </div>
      </div>
    </div>
  </div><!-- end of container -->
</nav>
</div><!-- end of container -->