
<div class="container" id="new_income_container">

  <div class="page-header">
    <h2>Create New Income</h2>
  </div><!-- end page-header -->

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Your Name :: Here</h3>
        </div><!-- end panel-heading -->
        <%= image_tag( 'missing.png', :alt =>'Default image', :class =>'img-circle') %>
        <p></p>
        <p align="center">"Advertise your self with us. Please contact us for further details"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-4">
      <div class="list-group">
        <div class="list-group-item">
          <%= render 'form', income: @income %>
        </div><!-- end list-group-item -->
      </div><!-- end list-group -->
    </div><!-- end col-sm-4 -->

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" align="center">Your Name :: Here</h3>
        </div><!-- end panel-heading -->
        <%= image_tag( 'missing.png', :alt =>'Default image', :class =>'img-circle') %>
        <p></p>
        <p align="center">"Advertise your self with us. Please contact us for further details"</p>
      </div><!-- end panel -->
    </div><!-- end col-sm-4 -->

  </div><!-- end row -->
</div><!-- end event_order_container -->


<div class="container">
  <div class="row">
    <div class="page-header">
      <h2> <%= link_to 'Go Back', user_host_event_path(@event_user.id, @event_host.id, @event.id), :class => 'btn btn-large btn-info' %></h2>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->


<div class="script">

</div>

