
<!--
<p>
  <strong>Reviewer:</strong>
  <%= @review.reviewer_id %>
</p>

<p>
  <strong>Rating score:</strong>
  <%= @review.rating_score %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<p>
  <strong>Serviceprovider:</strong>
  <%= @review.serviceprovider %>
</p>

<%#= link_to 'Edit', edit_review_path(@review) %> |
<%#= link_to 'Back', reviews_path %>
-->
