s
<%#= link_to 'Show', @menu %>
<%#= link_to 'Back', menus_path %>

<div class="container">
  <div class="page-header">
    <h2>Please, edit your Event Menu</h2>
  </div><!-- end page-header -->
</div>

<%= render 'form', menu: @menu %>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h2> <%= link_to 'Go Back', menus_path, :class => 'btn btn-large btn-info' %></h2>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->