
<%#= link_to 'Back', to_do_lists_path %>


<div class="container">
  <div class="page-header">
    <h2>Please create your ToDo List </h2>
  </div><!-- end page-header -->
</div>

<%#= render 'form'%>
<%= render 'form', to_do_list: @to_do_list %>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1> <%= link_to 'Go Back', dashboard_index_path, :class => 'btn btn-large btn-info' %></h1>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->


<%#= render 'form', service_provider: @service_provider %>
<%#= link_to 'Back', service_providers_path %>
