<div>
  <% flash.each do |key, value| %>
      <div>
        <p>
          <%= value %><a href="http://127.0.0.1:3000/contact/new" data-dismiss="alert"> X </a>
        </p>

      </div>
  <% end %>
</div>