<%= render 'form', peer_review: @peer_review %>
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1> <%= link_to 'Go Back', dashboard_index_path, :class => 'btn btn-large btn-info' %></h1>
    </div>
  </div>
</div>


<%#= link_to 'Back', peer_reviews_path %>
