

<!--
<p>
  <strong>Response:</strong>
  <%= @survey_question_response.response %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @survey_question_response.survey %>
</p>

<p>
  <strong>Survey question:</strong>
  <%= @survey_question_response.survey_question %>
</p>

<%#= link_to 'Edit', edit_survey_question_response_path(@survey_question_response) %>
<%#= link_to 'Back', survey_question_responses_path %>
-->
