<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>

  Hello, We would like to invite you for <%= @event.event_name %>.
  Please, follow the link to view the invitation and other details.
  We, would appreciate if you could take your time and RSVP for the event.

  Please, click on : <%= invitation_url(@event_invitation.id) %> to view the invitation

</p>

<p>Thanks for help and have a great day!</p>
</body>
</html>