
<%#= link_to 'Show', @event_order_detail %> |
<%#= link_to 'Back', event_order_details_path %>

<div class="container">
  <div class="page-header">
    <h2>Please, edit your event order details</h2>
  </div><!-- end page-header -->
</div>

<%= render 'form', event_order_detail: @event_order_detail %>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1> <%= link_to 'Go Back', dashboard_index_path, :class => 'btn btn-large btn-info' %></h1>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->

