<div class="container" id="about_container">
  <div class="page-header">
    <h1>About Us</h1>
  </div><!-- end page-header -->

  <div class="row" id="features">
    <div class="col-sm-6">
      <div class="thumbnail">
        <%= image_tag('application/namlo_team1.jpg', :alt =>'Namlo team', :class => 'image') %>
      </div><!-- end thumbnail -->
    </div><!-- end col-sm-6 -->
    <br>

    <div class="col-sm-6">
      <div class="list-group">
        <div class="list-group-item">
          <h2 class="list-group-item-heading"><small>Who we are</small></h2>
          <p class="list-group-item-text">
            We, Namlo Event Management, are an online event management tool whose vision is to ease the stress of managing an event.
            Our mission is to act as one contact  point for all activities related to events and their management
          </p>
        </div><!-- end list-group-item -->

        <div class="list-group-item">
          <h2 class="list-group-item-heading"><small>What we do</small></h2>
          <p class="list-group-item-text">
            Whether you are looking forward for DIY event planning and management or hiring professionals who are best at providing mesmerizing and pleasurable experience during  your event we are the solution.
          </p>
        </div><!-- end list-group-item -->

        <div class="list-group-item">
          <h2 class="list-group-item-heading"><small>What you can do</small></h2>
          <p class="list-group-item-text">
            With us, using our state of the art technologies  you can create an event , send electronic invitations, request quotes from different service providers, take guest reservations and many more.
            As a provider or managers you can use same tools to manage events for your customers.
          </p>
        </div><!-- end list-group-item -->
      </div><!-- end list-group -->
    </div><!-- end col-sm-6 -->
  </div><!-- end row -->
</div><!-- end about_container -->

<hr>
<div class="script">

</div>


