
<%#= link_to 'Show', @quotation %>
<%#= link_to 'Back', quotations_path %>

<div class="container">
  <div class="page-header">
    <h2>Please, edit your RFQ</h2>
  </div><!-- end page-header -->
</div>

<%= render 'form'%>
<%#= render 'form', quotation: @quotation %>


<div class="container">
  <div class="row">
    <div class="page-header">
      <h1> <%= link_to 'Go Back', user_host_events_path(@user,@event.host_id), :class => 'btn btn-large btn-info' %></h1>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->