
<%#= render 'form', role: @role %>
<%#= link_to 'Back', roles_path %>

<div class="container">
  <div class="page-header">
    <h2>Create New Role</h2>
  </div><!-- end page-header -->
</div>

<%= render 'form', role: @role %>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1> <%= link_to 'Go Back', roles_path, :class => 'btn btn-large btn-info' %></h1>
    </div><!-- end page-header -->
  </div><!-- end row -->
</div><!-- end container -->