<!--


<p>
  <strong>Question:</strong>
  <%= @survey_question.question %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @survey_question.survey %>
</p>

<%#= link_to 'Edit', edit_survey_question_path(@survey_question) %>
<%#= link_to 'Back', survey_questions_path %>
-->
